.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url(./images/pokemonbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  text-align-last: center;
}

h1, h2, h3, h4, p {
  text-align: center;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.landing-container, .lobby-container, .game-container, .about-container, .final-container {
  background-color: white;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-right: 20%;
  margin-left: 20%;
  padding: 1%;
}